#tudo {
    margin: 0;
}

.header{
    height: 80px;
    width: 100%;
    background-color: #1E90FF;
}

.corpo {
    padding-top: 30px;
    border-top: 0.5px solid white;
    background-image: linear-gradient(#1E90FF, #00FF7F);
}

.corpo-cadastro{
    background-color: rgba(147, 147, 147, 0.53);
}

.footer {
    border-top: 0.5px solid white;
    background-color:  #00FF7F;
    text-align: center;
    height: 80px;
    width: 100%;

}